<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap' %>

    <style>
        body{
            font-family: 'Montserrat', sans-serif;
        }
        .navbar-default {
             color: #bbdefb;
             background-color: #bbdefb;
             border-color: #bbdefb;
         }
        .navbar-brand{
            font-size: 32px;
            color: #212121;
        }

        .inline{
            display: inline-block;
            vertical-align: middle;
        }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
