
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="row">
      <div class="col-9" style='position: absolute; left: 80px;'>
        <h2 class='title inline' colspan='2' style='margin-top: 20px;'>Add an advertisement</h2>
        <table>
          <tbody>
          <tr>
            <td><%= form.label :username %></td>
            <td>
              <%= form.text_field :username %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :email %></td>
            <td>
              <%= form.text_field :email %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :link %></td>
            <td>
              <%= form.text_field :link %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :headline %></td>
            <td>
              <%= form.text_field :headline %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :tube_description %></td>
            <td>
              <%= form.text_area :tube_description, :cols => "21  ", :rows => "5" %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :password %></td>
            <td>
              <%= form.password_field :password %>
            </td>
          </tr>
          <tr>
            <td><%= form.label :password_confirmation %></td>
            <td>
              <%= form.password_field :password_confirmation %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <%= form.submit %>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="margin-top: 16px;">
          <%= link_to 'I have an account', session_new_url %>
        </div>
      </div>
      <div class="col-3 tags" style='position: absolute; right: 0;'>
        <!--        hello-->
      </div>
    </div>
  </div>

<% end %>