<%= render 'navbar', user: @user %>
<div class="profile_page">
  <h2 class='title inline' colspan='2' style='margin-top: 20px;'>My profile</h2>
  <table>
    <tbody>
    <tr>
      <td><strong>Username:</strong></td>
      <td> <%= @user.username %> </td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td> <%= @user.email %> </td>
    </tr>
    <tr>
      <td><strong>Link to contact:</strong></td>
      <td> <%= @user.link %> </td>
    </tr>
    <tr>
      <td><strong>Headline:</strong></td>
      <td> <%= @user.headline %> </td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td> <%= @user.tube_description %> </td>
    </tr>
    </tbody>
  </table>

  <hr>
  <div style="margin-top: 16px;">
    <a href= "../main/profile_edit" class="block" style="margin-bottom: 16px"> <button type="button" class="btn btn-outline-secondary">Edit</button></a>
    <%= link_to 'Back', root_url %>
  </div>
</div>
